h1 {
    text-align: center;
    color: cornflowerblue;
}

.btn-primary {
    background-color: cornflowerblue;
    color: white;
    
}

nav { 
    list-style-type: none;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover{
    color:pink;
    text-decoration: none;
}

body {
    background-color: lightblue;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

.item-place-buttons {
    display: flex;
    flex-flow: row;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
    margin:auto;
}